.Footer__right-icons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 70px;
  width: 19%;
  justify-content: space-between;
}
.Footer__right-icons > .active {
  background-color: black;
}
.Footer__right-icon {
  display: inline-block;
  width: 50%;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
@media screen and (max-width: 1150px) {
  .Footer__right-icons {
    display: flex;
  }
}
@media screen and (max-width: 650px) {
  .Footer__right-icons {
    display: flex;
    flex-direction: column;
    height: 130px;
    margin-top: 0;
  }
  .Footer__right-icon {
    width: 10px;
    height: 60px;
  }
}
